@import "variables.css";
@import "label.css";
@import "button.css";
@import "date-time.css";
@import "table-view.css";

.root * {
    -fx-font-smoothing-type: lcd;
    -fx-font-family: Metropolis, Helvetica, Arial, sans-serif;
    -fx-text-fill:-color-white;
}

