@import "label";
@import "button";
@import "date-time";
@import "table-view";
@import "description-box";

.root * {
    -color-black: #000000;
    -color-white: #FFFFFF;
    -color-red: #97081a;
    -color-blue: #0086AC;
    -color-blue-highlight: #00aedb;
    -color-yellow: #FEDA15;
    -color-green: #59981A;
    -fx-font-smoothing-type: lcd;
    -fx-font-family: Metropolis, Helvetica, Arial, sans-serif;
    -fx-text-fill: -color-white;
}