.table-view {
    -fx-background-color: transparent;

    .column-header-background {
        -fx-background-color: -color-black;
    }

    .column-header {
        -fx-border-width: 0.2;
        -fx-opacity: 100;
    }

    .table-cell {
        -fx-border-color: transparent;
        -fx-padding: 2 3 2 3px;
        -fx-alignment: center;
    }

    .corner {
        -fx-background-color: transparent;
    }
}

.table-row-cell {
    -fx-border-color: transparent;
    -fx-background-color: -color-blue;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
    -fx-max-height: 40px;
    -fx-max-width: 120px;
    -fx-opacity: 100%;

    &:hover {
        -fx-background-color: -color-blue-highlight;
    }

    &:selected {
        -fx-background-color: -color-blue-highlight;
    }
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-radius: 0px!important;
    -fx-border-radius: 0px!important;
    -fx-background-color: linear-gradient(to right, -color-black, #252525);
    -fx-cursor: hand;
}